# Copyright (c) 2009-2012, 2014-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

#ifdef VENDOR_EDIT
#Jianchao.Shi@BSP.CHG.Basic 2018/03/20, sjc Add for oppo devices
#import init.oppo.rc
#endif /* VENDOR_EDIT */
import /vendor/etc/init/hw/init.qcom.usb.rc
import /vendor/etc/init/hw/init.msm.usb.configfs.rc
#import /vendor/etc/init/hw/init.qcom.test.rc
#import /vendor/etc/init/hw/init.target.rc
import /init.at.target.rc
#import /vendor/etc/init/hw/init.qcom.factory.rc

#ifdef VENDOR_EDIT
#qiuzuolin@BSP.senosor [2019/05/16] [add for init.oppo.vendor.motor.rc]
#import /vendor/etc/init/hw/init.oppo.sensor.rc
#endif /*VENDOR_EDIT*/

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

#  # create symlink for vendor mount points
#    symlink /vendor/firmware_mnt /firmware
#    symlink /vendor/bt_firmware /bt_firmware
#    symlink /vendor/dsp /dsp

#  # Change ownership of hw_recovery related nodes
#    chown system graphics /sys/kernel/debug/dri/0/debug/dump
#    chown system graphics /sys/kernel/debug/dri/0/debug/recovery_reg
#    chown system graphics /sys/kernel/debug/dri/0/debug/recovery_dbgbus
#    chown system graphics /sys/kernel/debug/dri/0/debug/recovery_vbif_dbgbus

    chown root system /dev/kmsg
    chmod 0620 /dev/kmsg
#    # Load WIGIG platform driver
#   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules msm_11ad_proxy

on init

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # Create cgroup mount point for memory
    mkdir /sys/fs/cgroup/memory/bg 0750 root system
    write /sys/fs/cgroup/memory/bg/memory.swappiness 140
    write /sys/fs/cgroup/memory/bg/memory.move_charge_at_immigrate 1
    chown root system /sys/fs/cgroup/memory/bg/tasks
    chmod 0660 /sys/fs/cgroup/memory/bg/tasks

#on post-fs
#    chmod 0755 /sys/kernel/debug/tracing

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    # Allow subsystem (modem etc) debugging
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_cdsp/boot 1
    write /sys/devices/virtual/npu/msm_npu/boot 1
    write /sys/kernel/boot_slpi/boot 1
    write /sys/devices/virtual/cvp/cvp/boot 1
    exec u:r:qti_init_shell:s0 -- /vendor/bin/init.qcom.early_boot.sh
    exec u:r:qti_init_shell:s0 -- /vendor/bin/init.qti.can.sh

    # for backward compatibility
    chown system system /persist/sensors
    chown system system /persist/sensors/registry
    chown system system /persist/sensors/registry/registry
    chown system system /persist/sensors/registry/registry/sensors_registry
    chown system system /persist/sensors/sensors_settings
    chown system system /persist/sensors/registry/config
    chmod 0664 /persist/sensors/sensors_settings

    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings

    chown system system /mnt/vendor/persist/data/pfm/licenses
    chmod 0775 /mnt/vendor/persist/data/pfm/licenses



#service iop /system/vendor/bin/iop
#    class main
#    user root
#    group root
#    disabled
#    socket iop seqpacket 0666 root system

#service qcomsysd /system/vendor/bin/qcom-system-daemon
#    class main
#    user root
#    group root diag oem_2901
#    disabled

#on property:persist.vendor.qcomsysd.enabled=1
#    enable qcomsysd

#on property:persist.vendor.qcomsysd.enabled=0
#    stop qcomsysd

#service vendor.ssr_setup /system/vendor/bin/ssr_setup
#    oneshot
#    disabled

#service vendor.ss_ramdump /system/vendor/bin/subsystem_ramdump
#    class main
#    user system
#    group system
#    disabled

#on property:ro.vendor.iocgrp.config=1
#    mkdir /dev/blkio
#    mount cgroup none /dev/blkio blkio
#    chown system system /dev/blkio
#    chown system system /dev/blkio/tasks
 #   chmod 0664 /dev/blkio/tasks
 #   mkdir /dev/blkio/bg 0755 system system
 #   chown system system /dev/blkio/bg/tasks
 #   chmod 0664 /dev/blkio/bg/tasks
#    write /dev/blkio/blkio.weight 1000
 #   write /dev/blkio/bg/blkio.weight 100

#on property:persist.sys.ssr.enable_debug=*
#    write /sys/module/subsystem_restart/parameters/enable_debug ${persist.sys.ssr.enable_debug}

#on property:persist.sys.mba_boot_timeout=*
#    write /sys/module/pil_msa/parameters/pbl_mba_boot_timeout_ms ${persist.sys.mba_boot_timeout}

#on property:persist.sys.modem_auth_timeout=*
#    write /sys/module/pil_msa/parameters/modem_auth_timeout_ms ${persist.sys.modem_auth_timeout}

#on property:persist.sys.pil_proxy_timeout=*
#    write /sys/module/peripheral_loader/parameters/proxy_timeout_ms ${persist.sys.pil_proxy_timeout}

#on property:persist.vendor.ssr.restart_level=*
#    start vendor.ssr_setup

#on property:persist.vendor.ssr.enable_ramdumps=1
#    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
#    mkdir /data/vendor/ramdump_ssr 770 system system
#    start vendor.ss_ramdump

#on property:persist.vendor.ssr.enable_ramdumps=0
#    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    
#on property:persist.vendor.sys.rawdump_copy=1
#    write /sys/kernel/dload/emmc_dload 1

#on property:persist.vendor.sys.rawdump_copy=0
#    write /sys/kernel/dload/emmc_dload 0

#on property:sys.boot_completed=1
#    write /dev/kmsg "Boot completed "
#    #Reset read ahead for dm-0 and dm-1 to 512kb
#    write /sys/block/dm-0/queue/read_ahead_kb 512
#    write /sys/block/dm-1/queue/read_ahead_kb 512
#    #WDSP FW boot sysfs node used by STHAL
#    chown media audio /sys/kernel/wdsp0/boot
#    chown media audio /sys/kernel/wcd_cpe0/fw_name

#on property:persist.vendor.radio.atfwd.start=false
#    stop vendor.atfwd

#on property:vendor.radio.atfwd.start=false
#    stop vendor.atfwd

# corefile limit
#on property:persist.debug.trace=1
#    mkdir /data/core 0777 root root
#    write /proc/sys/kernel/core_pattern "/data/core/%E.%p.%e"

#on property:init.svc.wpa_supplicant=stopped
 #   stop dhcpcd

#on property:vendor.bluetooth.dun.status=running
#    start vendor.bt-dun

#on property:vendor.bluetooth.dun.status=stopped
#    stop vendor.bt-dun

#on property:ro.bluetooth.ftm_enabled=true
#    start ftmd

#on property:vendor.bluetooth.startbtsnoop=true
#    start vendor.btsnoop

#on property:vendor.bluetooth.startbtsnoop=false
#   stop vendor.btsnoop

#on property:vendor.bluetooth.startbtlogger=true
#    start vendor.bt_logger

#on property:vendor.bluetooth.startbtlogger=false
#    stop vendor.bt_logger

#on property:vendor.media.target.version=*
#    setprop vendor.sys.media.target.version ${vendor.media.target.version}

#service qcom-c_core-sh  /vendor/bin/init.qcom.class_core.sh
#    class core
#   user root
#    oneshot

#service qcom-c_main-sh /vendor/bin/init.class_main.sh
#    class main
#    user root
#    oneshot

#on property:vold.decrypt=trigger_restart_framework
#    start qcom-c_main-sh
 #   start wcnss-service

#on property:persist.env.fastdorm.enabled=true
#    setprop persist.radio.data_no_toggle 1

service vendor.qrtr-ns /vendor/bin/qrtr-ns -f
    class core
    user vendor_qrtr
    group vendor_qrtr
    capabilities NET_BIND_SERVICE

#service vendor.tftp_server /vendor/bin/tftp_server
#   class core
#   user root

#on property:vendor.wc_transport.start_hci=true
#    start vendor.start_hci_filter

#on property:vendor.wc_transport.start_hci=false
#    stop vendor.start_hci_filter

#service vendor.start_hci_filter /system/vendor/bin/wcnss_filter
#    class late_start
#    user bluetooth
#    group bluetooth diag system wakelock
#    seclabel u:r:bluetooth:s0
#    disabled

#service vendor.bt-dun /system/bin/dun-server /dev/smd7 /dev/rfcomm0
#    class late_start
#    user bluetooth
#    group bluetooth net_bt_admin inet
#    disabled
#    oneshot

#service vendor.btsnoop /system/bin/btsnoop
#   user bluetooth
#   group bluetooth net_bt_admin sdcard_rw sdcard_r media_rw
#   class late_start
#   disabled
#   oneshot

#service vendor.bt_logger /system/bin/bt_logger
#   user bluetooth
#   group bluetooth net_bt_admin sdcard_rw sdcard_r media_rw
#   class late_start
#   disabled
#   oneshot

#service ftmd /system/bin/logwrapper /system/bin/ftmdaemon
#    class late_start
#    user root
#    group bluetooth net_bt_admin misc diag net_bt
#    disabled
#    oneshot

#service qmiproxy /system/bin/qmiproxy
#    class main
#    user radio
#    group radio diag
#    disabled

service vendor.sensors /vendor/bin/sscrpcd sensorspd
    class early_hal
    user system
    group system wakelock
    capabilities BLOCK_SUSPEND

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    #disabled

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
#on property:ro.data.large_tcp_window_size=true
#    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

#on property:sys.sysctl.tcp_adv_win_scale=*
#    write /proc/sys/net/ipv4/tcp_adv_win_scale ${sys.sysctl.tcp_adv_win_scale}
 
#service ssgqmigd /vendor/bin/ssgqmigd
#    class late_start
#    user radio
#    group radio gps system
#    socket ssgqmig seqpacket 0660 radio inet

#service ssgtzd /vendor/bin/ssgtzd
#    class late_start
#    user system
#    group system
#    socket ssgtzd stream 0660 system inet

#service mlid /vendor/bin/mlid
#    class late_start
#    user gps
#    group gps
#    socket mlid stream 0666 gps gps

#service loc_launcher /system/vendor/bin/loc_launcher
#    class late_start
#    user gps
#    group gps

#on property:crypto.driver.load=1
#     insmod /system/lib/modules/qce.ko
#     insmod /system/lib/modules/qcedev.ko

#service drmdiag /system/vendor/bin/drmdiagapp
#    class late_start
#     user root
#     disabled
#     oneshot

#on property:drmdiag.load=1
#    start drmdiag

#on property:drmdiag.load=0
#    stop drmdiag

#service qcom-sh /vendor/bin/init.qcom.sh
#    class late_start
#    user root
#    group root system radio
#    oneshot

service vendor-sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot

#service crashdata-sh /vendor/bin/init.qcom.crashdata.sh
#    class late_start
#    user root
#    oneshot

#service qcom-post-boot /vendor/bin/init.qcom.post_boot.sh
#    class late_start
#    user root
#    group root system wakelock graphics
#    disabled
#    oneshot

#service qti-testscripts /system/bin/sh /system/etc/init.qcom.testscripts.sh
#    class late_start
#    user root
#    disabled
#    oneshot
#    seclabel u:r:qti-testscripts:s0

#service wifi-sdio-on /vendor/bin/init.qcom.sdio.sh
#    class late_start
#    group wifi inet
#    disabled
#    oneshot

#service wifi-crda /vendor/bin/init.crda.sh
#   class late_start
#   user root
#   disabled
#   oneshot

#on property:sys.boot_completed=1
#   start qcom-post-boot
#    start qti-testscripts

#on property:ro.vendor.ril.mbn_copy_completed=1
#    write /data/vendor/radio/copy_complete 1

#service qvop-daemon /vendor/bin/qvop-daemon
#    class late_start
#    user system
#    group system drmrpc

#service vendor.atfwd /vendor/bin/ATFWD-daemon
#    class late_start
#    user system
#    group system radio

#service hostapd_fst /vendor/bin/hw/hostapd -dd -g /data/vendor/wifi/hostapd/global
#    interface android.hardware.wifi.hostapd@1.0::IHostapd default
#    class main
#    capabilities NET_ADMIN NET_RAW
#    user wifi
#    group wifi
#    disabled
#    oneshot

#service vendor.wigig_hostapd /vendor/bin/hw/hostapd -dd  -j wigighostapd /data/vendor/wifi/hostapd/wigig_hostapd.conf
#    class late_start
#    capabilities NET_ADMIN NET_RAW
#    user wifi
#    group wifi inet keystore
#    oneshot
#    disabled

#service ims_regmanager /system/vendor/bin/exe-ims-regmanagerprocessnative
#    class late_start
#    group net_bt_admin inet radio wifi
#    disabled

#on property:persist.ims.regmanager.mode=1
#    start ims_regmanager

#on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
#    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

#service battery_monitor /system/bin/battery_monitor
#    user system
#    group system
#    disabled

#service vendor.ril-daemon2 /vendor/bin/hw/rild -c 2
#    class main
#    user radio
#    disabled
#    group radio cache inet misc audio sdcard_r sdcard_rw diag oem_2901 log
#    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

#service vendor.ril-daemon3 /vendor/bin/hw/rild -c 3
#    class main
#    user radio
#   disabled
#    group radio cache inet misc audio sdcard_r sdcard_rw diag oem_2901 log
#    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

#service profiler_daemon /system/bin/profiler_daemon
#   class late_start
#    user root
#    group root
#    disabled

#service charger /system/bin/charger
#    class charger
#    group system graphics
#    seclabel u:r:charger:s0

#service vendor.ssr_diag /system/vendor/bin/ssr_diag
#    class late_start
#    user system
#    group system
#   disabled

#service hvdcp /system/bin/hvdcp
#    class core
#    user root
#    disabled

#on property:persist.usb.hvdcp.detect=true
#    start hvdcp

#on property:persist.usb.hvdcp.detect=false
#    stop hvdcp

#service charger_monitor /system/bin/charger_monitor
#    user root
#    group root
#    disabled

#service qbcharger /charger -m 1
#    disabled
#    oneshot

#on property:sys.qbcharger.enable=true
#    start qbcharger

#on property:sys.qbcharger.enable=false
#    stop qbcharger

#service diag_mdlog_start /system/vendor/bin/diag_mdlog
#    class late_start
#    user shell
#    group system oem_2901 sdcard_rw sdcard_r media_rw
#    disabled
#    oneshot

#service diag_mdlog_stop /system/vendor/bin/diag_mdlog -k
#    class late_start
#    user shell
#    group system oem_2901 sdcard_rw sdcard_r media_rw
#    disabled
#    oneshot

#service qlogd /system/xbin/qlogd
#    socket qlogd stream 0662 system system
#    class main
#    disabled
#on property:persist.sys.qlogd=1
#    start qlogd
#on property:persist.sys.qlogd=0
#    stop qlogd

#service vm_bms /vendor/bin/vm_bms
#    user root
#    group root
#    disabled

#service vendor.msm_irqbalance /vendor/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
#   class core
#    user root
#    group root
#    disabled

#service vendor.msm_irqbal_lb /vendor/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance_little_big.conf
#   class core
#    user root
#    group root
#    disabled

#service vendor.msm_irqbl_sdm630 /vendor/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance_sdm630.conf
#    class core
#    user root
#    group root
#    disabled

# service for USERDEBUG
#service vendor.LKCore-dbg /vendor/bin/LKCore
#    class late_start
#   oneshot
#    disabled
#    user root
#    group root system log diag net_raw

# service for USER
#service vendor.LKCore-rel /vendor/bin/LKCore
#    class late_start
#    oneshot
#    disabled
#    user system
#    group system log diag

#service qseeproxydaemon /system/vendor/bin/qseeproxydaemon
#    class late_start
#    user system
#    group system

#service esepmdaemon /system/vendor/bin/esepmdaemon
#    class core
#    user system
#    group nfc

#on charger
#    setprop persist.sys.usb.config mass_storage
#    load_system_props
#    start qcom-post-boot

#add poweroffhandler
#service poweroffhandler /system/vendor/bin/poweroffhandler
#    class core
#    user media
#    group graphics audio
#    disabled
#    oneshot

#on property:vendor.display.lcd_density=*
#    setprop ro.sf.lcd_density ${vendor.display.lcd_density}

# Logcat dump daemon, dumps logs to logdump partition
#service logdumpd /system/bin/logcat -b all -v threadtime -D -w /dev/block/bootdevice/by-name/logdump
#    class core
#    writepid /dev/cpuset/system-background/tasks
#    seclabel u:r:logdumpd:s0
#    disabled

# Logdumpd is enabled only for userdebug non-perf build
#on property:ro.logdumpd.enabled=1
#    start logdumpd

#service time_daemon /vendor/bin/time_daemon
#    class main
#    user system
#    group system
#    capabilities SYS_TIME

# Set vendor-ril lib path based on Meta version
#on property:vendor.rild.libpath=*
#    setprop rild.libpath ${vendor.rild.libpath}

#on property:ro.vendor.radio.noril=*
#   setprop ro.radio.noril ${ro.vendor.radio.noril}

#service seemp_healthd /vendor/bin/seemp_healthd
#    class late_start
#    user system
#    group system

#service vendor.power_off_alarm /vendor/bin/power_off_alarm
#    class core
#    group system
#    disabled
#    oneshot

#service vendor.move_time_data /system/bin/move_time_data.sh
#    class main
#    user system
#    group system
#    disabled
#    oneshot
#ifdef VENDOR_EDIT 
#Weizhong.Wu@BSP.POWER.Basic 2019/09/03 add for init modem 
service irsc_util /vendor/bin/irsc_util "/vendor/etc/sec_config"
    class core
    user root
    oneshot

service vendor.rmt_storage /vendor/bin/rmt_storage
    class core
    user root
    shutdown critical
    ioprio rt 0

service cnss-daemon /system/vendor/bin/cnss-daemon -n -l
    class late_start
    user system
    group system inet net_admin wifi
    capabilities NET_ADMIN
 #endif/* VENDOR_EDIT */
 
#service chre /vendor/bin/chre
#    class late_start
#    user system
#    group system
#    socket chre seqpacket 0660 root system
#    shutdown critical

#on property:vendor.chre.enabled=0
#  stop chre

#service bugreport /system/bin/dumpstate -d -p -B -z -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
#    class main
#    disabled
#    oneshot
#    keycodes 114 115 116

#Set GPU Opengles version
#on property:vendor.opengles.version=*
#    setprop ro.opengles.version ${vendor.opengles.version}

#Set gpu available frequencies property
#on property:vendor.gpu.available_frequencies=*
#    setprop ro.vendor.gpu.available_frequencies ${vendor.gpu.available_frequencies}

#service vendor.audio-hal-2-0 /vendor/bin/hw/android.hardware.audio@2.0-service
#    override
#    class hal
#    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
#    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
#    capabilities BLOCK_SUSPEND
#    ioprio rt 4
#    writepid /dev/cpuset/foreground/tasks /dev/stune/foreground/tasks
    # audioflinger restarts itself when it loses connection with the hal
    # and its .rc file has an "onrestart restart audio-hal" rule, thus
    # an additional auto-restart from the init process isn't needed.
#    oneshot
#    interface android.hardware.audio@5.0::IDevicesFactory default
#    interface android.hardware.audio@4.0::IDevicesFactory default
#    interface android.hardware.audio@2.0::IDevicesFactory default

#service vendor.contexthub-hal-1-0 /vendor/bin/hw/android.hardware.contexthub@1.0-service
#    override
#    class hal
#    interface android.hardware.contexthub@1.0::IContexthub default
#    user system
#    group system
#    disabled
